<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/jumbotron.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <title>도서관리 시스템</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Library Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/list">Book List<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/register">Book Register</a></li>
                <li><a href="#">Book Delete</a></li>
                <li><a href="#">Book Update</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Book List</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>표지</th>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Price</th>
                        <th>Author</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>

                        등록합시다 ! <br><br>
                        <form action="http://localhost:5000/register/success"
                              method="get">
                              <!-- enctype="multipart/form-data">       파일 업로드는 무조건 포스트 방식으로, encoding type-->
                            <td>ImageURL :  <input type="text" name="bimgurl"></td>
                            <td>Title :  <input type="text" name="btitle"></td>
                            <td>Isbn :   <input type="text" name="bisbn"></td>
                            <td>Price :  <input type="text" name="bprice"></td>
                            <td>Author : <input type="text" name="bauthor"></td>
                            <br><br>
                            <input type="submit" value="등록">
                        </form>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" preserveAspectRatio="none" style="visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs></defs><text x="0" y="10" style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle">200x200</text></svg></body>
</html>